# Data
deploy/*.rds
deploy/new_data_log.txt
deploy/cron_log.txt

# Development
dev
data_testing/

# R
.Renviron
rsconnect/

# OS files
.DS_Store
.uuid

# PyCharm files
.idea

# Email auth
app/.secret
app/credentials.json
